<!DOCTYPE html>
<html lang="en"
      xmlns ="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec ="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

    <div sec:authorize="isAuthenticated()">
        <span style="font-weight: bold">用户：</span><span sec:authentication="name"></span>
        <div>
            <form action="#" th:action="@{/logout}" method="post">
                <input type="submit" value="注销" />
            </form>
        </div>

        <h3>使用Spring Security OAuth 2.0 登录</h3>
        恭喜您通过<span style="font-weight: bold" th:text="${clientName}"></span>登录成功
    </div>
</body>
</html>